body{
    background-image: url(/News_website/images/vector_background_blue.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed ;
    margin: 0;

}
.header{
    text-align: center;
}

.wrapper{  
    background-color: rgb(255, 255, 143);
    max-width: 1300px;
    width: 100%;
    
    margin: 0 auto;
    padding: 20px;
}

.nav-bar-container{
    margin: 1rem;
    background-color: rgb(0, 252, 155);
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar ul li {
    display: inline-block;
    font-size: 25px;
    position: relative;   /* IMPORTANT */
}

.nav-bar ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

/* Dropdown */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #aff3a1;
    min-width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.dropdown-menu li {
    display: block;  /* stack vertically */
}

.dropdown-menu li a {
    color: white;
    padding: 12px;
}

/* Show on hover */
.dropdown:hover .dropdown-menu {
    opacity: 1 ;
    visibility: visible;
}


/*                          SPLASH PAGE                    */
.splash-page-wrapper{
    

    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;

}

.splash-page-photo{
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: 80%;
    border-radius: 10px;
}

.splash-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -40%);
    text-align: center;
    color: rgb(255, 255, 255);
}

.splash-text h1 {
    font-size: 48px;
    margin: 0;
}

.splash-text p {
    font-size: 22px;
}

/*                          Home page                  */

h1{
    text-align: center;
}

h2{
    font-size: 25px;

}

p{
    font-size: 20px;
}

.home-page-container-photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
    gap: 10px ;

}

.home-page-content{
    border-radius: 10px;
    overflow: hidden;
    background-color: #a3ff6e;

}

.home-page-content img{
    width: 100%;
    height: 300px;        /* fixed visible height */
    object-fit: cover;    /* prevents stretching */
    display: block;
    border-radius: 10px;
}

.home-page-italic{
    font-size: 20px;
}