body{
    background-image: url(/News_website/images/vector_background_blue.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed ;
    margin: 0;

}

.wrapper{  
    background-color: rgb(255, 255, 143);
    max-width: 1300px;
    width: 100%;
    
    margin: 0 auto;
    padding: 20px;
}

.nav-bar-container{
    margin: 1rem;
    background-color: rgb(0, 252, 155);
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar ul li {
    display: inline-block;
    font-size: 25px;
    position: relative;   /* IMPORTANT */
}

.nav-bar ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

/* Dropdown */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #aff3a1;
    min-width: 180px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.dropdown-menu li {
    display: block;  /* stack vertically */
}

.dropdown-menu li a {
    color: white;
    padding: 12px;
}

/* Show on hover */
.dropdown:hover .dropdown-menu {
    opacity: 1 ;
    visibility: visible;
}